MONGO_URI=mongodb://
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=1h
JWT_REFRESH_TOKEN_TTL_DAYS=30
config_token=


# MinIO Credentials
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_ENDPOINT=
CDN_PUBLIC_BASE_URL=
